@import "tailwindcss";

@layer base {
  a {
    text-decoration-skip-ink: auto;
    @apply decoration-gray-300 hover:decoration-gray-400 underline underline-offset-2;
  }

  a[href^="/"],
  a[href*="shayleexie.com"] {
    text-decoration: none;
    @apply no-underline decoration-transparent hover:decoration-transparent;
  }

  p {
    @apply  text-[#747b87] text-[14px] leading-relaxed;
  }

  h1 {
    @apply text-gray-500 text-[14px] font-semibold;
  }

  article a[href^="/"],
  article a[href*="shayleexie.com"] {
    @apply underline decoration-gray-300 hover:decoration-gray-400;
  }

  article h1 {
    @apply text-gray-500 text-[14px] font-bold mb-2;
  }

  article h2 {
    @apply text-gray-400 text-[14px] mb-4;
  }



}

:root {
  --background: #ffffff;
  --foreground: #000000;
}


:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fall {
  0% {
    transform: translateY(-2rem);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes sparkleFade {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.animate-sparkle {
  animation: sparkleFade 0.6s ease-out forwards;
  position: absolute;
  pointer-events: none;
}

@keyframes sparkleBurst {
  0% {
    transform: translate(-50%, -50%) translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) translate(var(--dx), var(--dy)) scale(1.4);
    opacity: 0;
  }
}

.animate-sparkle-burst {
  animation: sparkleBurst 0.8s ease-out forwards;
  position: absolute;
  pointer-events: none;
}


.star {
  color: transparent;
  background: rgb(169, 150, 255);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
